/* Header.css */

/* Style for the entire header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
  
  /* Style for the left logo container */
  .logoLeft {
    display: flex;
    align-items: center;
  }
  
  /* Style for the left logo image */
  .logoLeft img {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
  
  /* Style for the right logo container */
  .logoRight {
    display: flex;
    align-items: center;
  }
  
  /* Style for the right logo image */
  .logoRight img {
    width: 30px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
    opacity: 0.8; /* Maintain the aspect ratio */
  }
  